body {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
}
/* Main content area */
main {
  padding-bottom: 60px; /* Height of the footer */
  min-height: calc(100vh - 60px); /* Full height minus the footer height */
  box-sizing: border-box;
}
